

body, html { 
    overflow: hidden; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: none;
}

canvas{
     overscroll-behavior: none;
}

a{ text-decoration: none;}
#viewport {
    display: flex;
    justify-content: center;
    align-items: center;
   background: #232323;
    width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#container {
  display: flex;
  width: 300vw; /* Two screens wide */
  height: 100vh;
  transition: transform 0.3s ease-out; /* The sliding animation */
}

.screen {
  width: 100vw;
     height: 100%;
}


#bottomNav{
    background: conic-gradient(from 225deg at 30% 0%, #111111 45deg, #0000 10deg), conic-gradient(from 90deg at 70% 0%, #111111 45deg, #00000000 10deg), conic-gradient(from 225deg at 30% 80%, #111111 45deg, #0000 10deg), conic-gradient(from 90deg at 70% 80%, #111111 45deg, #00000000 10deg), conic-gradient(from 90deg at 50% 60%, #ff4136 180deg, #00000000 2deg);
    width: 100vw;
    position: fixed;
    height: 7vh;
    bottom: 0;
    z-index: 999;
}

#bottomNav > div{
    width: 20vw;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
/* ////////////////////////////////// */
    .progress-bar{
            z-index: 999;
        top: 0px;
        color: #ffdc62;
        font-weight: bold;
        text-shadow: 0px 0px 5px;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }
    lable{
        font-size: 16px;
        margin-bottom: 10px;
    }
    #progress{
        width: 60vw;
        color:#62ff62 ;
    }
    /* /////////////////////////////////// */


.btnHolder{
    letter-spacing: 1px;
    top: 5%;
    border-bottom: 0.1px solid #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(0deg, #6e6c6c, #000000);
    box-shadow: inset 0px -5px 10px #000000, inset 0px 6px 11px #737373;
    border-radius: 5rem;
    list-style: none;
    font-weight: bold;
    width: 30%;
    max-width: 125px;
    aspect-ratio: 1;
    text-align: center;
    position: relative;
    color: #ff483e;
    font-size: min(6vw, 20px);
    text-shadow: 1px 2px 3px #000;
}


.btnBefor{
    content: '';
    filter: drop-shadow(0px 0px 5px #ff4136);
    position: absolute;
    z-index: -1;
    width: 110%;
    aspect-ratio: 1;
    border-radius: 5rem;
    transition: 0.5s;
    transform: rotateZ(0deg);
    background: conic-gradient(from 207deg, #00000000 60deg, #ff4136 60deg, #ff4136 125deg, #99999900 125deg, #99999900 175deg, #ff4136 175deg, #ff4136 240deg, #99999900 240deg, #99999900 295deg, #ff4136 295deg);

}




.net{
    color: #c4c3c3;
    position: absolute;
    font-size: min(4vw, 13px);
    width: 22vw;
    max-width: 75px;
    aspect-ratio: 1;
    top: 49%;
    outline-offset: 5px;
    box-shadow: inset 0px -3px 10px #000000, inset 0px 4px 11px #737373;
    z-index: -1;
    opacity: 0;
    transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
}


.netR{
    opacity: 1;
   transform: translate(33vw, 27vh);
}


.netL{
    opacity: 1;
    transform: translate(-33vw, 27vh);
}








/* ////////////////////// screen 1 \\\\\\\\\\\\\\\\\\\ */


#screen1{
    display: flex;
    justify-content: center;
    align-items: center;
     background: conic-gradient(from 270deg at 30% 18.5vh, #ff4136 135deg, #00000000 56deg), conic-gradient(from -45deg at 70% 18.5vh, #ff4136 135deg, #b6616100 56deg);
     z-index: 3;
 }


 .downAndai {
    width: 10vw;
    font-size: 0.7rem;
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(35, 35, 35, 0);
    border-radius: 0.12rem;
}

.header {
    border-top: 2px solid #000000;
    filter: drop-shadow(0px 2px 0px #000000);
    background: repeating-linear-gradient(90deg, black, #809393, black 4px);
    position: absolute;
    z-index: 99;
    width: 99vw;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contaiiner {
    filter: drop-shadow(-3px 0px 6px #000000);
    background: conic-gradient(from -508deg at 62%, #06060640 118deg, #111111 111deg, #151515 130deg, #151515 235deg, #151515 334deg);
    box-shadow: 0px -1px 10px black;
    align-items: center;
    justify-content: start;
    position: relative;
    height: 16vh;
    width: 100%;
    display: flex;
}


.test3 {
    color: #000000;
    letter-spacing: 1vw;
    direction: ltr;
    text-shadow: 0px 16px 6px #945c5c, 0px 15px 8px #000;
    font-size: min(5.5vw, 16px);
    font-weight: 900;
    background: linear-gradient(90deg, #e4e4e4 3%, #ff4136 14%, #fff0f0 40%, #ff4136 34% 18%, hsl(0deg 0% 100%) 56%, #ff4136 65%, hsl(0deg 0% 66.46%) 100%);
    background-clip: text;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff010100;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.5s all;
}




.webDev {
    position: absolute;
    color: #f0a3a3;
    font-weight: 600;
    top: 18vh;
    font-size: min(4.5vw, 17px);
    text-shadow: 0px 0px 4px #ff4136;
}



@keyframes lightCircle {
  0%{transform: rotateZ(0deg);}

  100%{transform: rotateZ(360deg);}
}

.lightAni{
    animation:  5s lightCircle  linear infinite 0s ;
}


#notificIcon{
    display: flex;
    aspect-ratio: 1;
    /* animation: .4s shack linear infinite 2s; */
    justify-content: center;
    align-items: center;
}

@keyframes shack {
   0%{transform: translateX(0px)}
  25%{transform: translateX(-3px)}
  50%{transform: translateX(3px)}
  75%{transform: translateX(-3px)}
  100%{transform: translateX(0px)}

}


#userD{
    height: 60vh;
    width: 100vw;
    display: none;
    position: absolute;
    z-index: 11;
    background: linear-gradient(0deg, black, gray);
}

#userD>p{
    margin: 2vh;
}

#offlinePage{
    top: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: all 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg ,#000,#fff);
}

#qr-gen{
    top: 10vh;
    position: absolute;
}

#ui{
    height: 40vh;
    bottom: 0;
    position: absolute;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.offlinee{
    width: 55vw;
    height: 5vh;
    background: linear-gradient(0deg, #4a4a4a, #fff);
    outline: 1px dashed #b8b8b8;
    border: none;
    outline-offset: 4px;
    border-radius: 1rem;
}

.offlinee:hover{
    background: #ff8c8c;
}

#ui>span{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 77%;
    height: 5vh;
    background: #000000;
    color: #ff4e4e;
    font-weight: bold;
    border: 2px dotted;
    margin-top: 3vh;
    border-radius: 1rem;
}



video, #qr-gen-canvas { 
    top: 10vh;
    position: absolute;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 10px 0;
}





/* //////left section\\\\\\\  */



 #screen0{
    overflow-y: scroll;
   
}

.nav{ 

   position: relative;
    z-index: 9;
      background: conic-gradient(from 85deg, #180000 9deg, #180000 60deg, transparent 39deg, transparent 130deg, #180000 131deg, #180000 190deg);
    height: 215px;
    filter: drop-shadow(0px 1px 1px #ff4136) drop-shadow(0px 5px 4px black);
    width: 100%;
  
}

#deck{
    position: relative;
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 99;
     background: linear-gradient(0deg, #180000, #1a1a1a);
   

}

#entityC{
   position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 11vh;
   
}


.entityHolder{
   position: relative;
    z-index: 19;
    max-width: 75px;
    width: calc(100% / 4.7);
    aspect-ratio: 1;
    margin: 4px;
    transition: all .15s cubic-bezier(0.005, 0.53, 0.515, 0.955);

}

.active{
    width: calc(100% / 3.5);
    position: absolute;
    z-index: 30;
    top:20%;
    left: 36%;
    transform: translateY(-30vh);
    filter: drop-shadow(2px 0px 20px gray) drop-shadow(0px 0px 19px rgb(199, 199, 199));
}

.active > div{
    display: none;
}

.entityImg{
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1;
    filter: drop-shadow(3px 8px 4px #000) brightness(1.5);
}



.add{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff4136;
    border-radius: 2rem;
    border-start-start-radius: 0rem;
    border-end-end-radius: 0rem;
    color: #ababab;
    font-weight: bold;
    box-shadow: inset 1px 1px 5px #1d0000, inset -1px -1px 3px #996d6d, 2px 4px 14px #000;
}

.outlineAni{
     outline-offset: 2.3px;
    outline: 1px dashed #7d7d7d;
    animation:outline 1s linear infinite 0s;
}

@keyframes outline {
    0%{outline-color: #ff4136;}
    50%{outline-color: #ffffff;}
    100%{outline-color: #ff4136;}
}






/*      entity preview     */

.panel {
    z-index: 40;
    top: 30vh;
    position: absolute;
    width: 100vw;
    height: 30vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all .5s;
}

.page2 {
      background: linear-gradient(90deg, #000000, #111111, #292929);
    z-index: 888;
    align-items: center;
    overflow: hidden;
    justify-content: end;
    display: flex;
    width: 95%;
    height: 30vh;
    border-radius: .5rem;
    border-start-start-radius: 6rem;
    border-end-start-radius: 6rem;
    flex-direction: row;
}

.data {
    color: #c6c6c6;
    padding-bottom: 5px;
    position: relative;
    right: 0px;
    height: 100%;
    width: 28%;
    z-index: 888;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dataTitles{
   letter-spacing: 1px;
    color: #ff5148;
    font-weight: bold;
    font-size: 15px;
    width: 74%;
    height: 73%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 5px;
}

.imgDiv {
       border-radius: 35%;
    left: 0px;
    width: 175px;
    position: absolute;
    aspect-ratio: 1;
    z-index: 888;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
}

.imgDiv::after {
   content: '';
    inset: 0px 0px;
    position: absolute;
    filter: drop-shadow(0px 0px 3px #ff4136);
    background: conic-gradient(from 362deg, #00000000 60deg, #ff4136 60deg, #ff4136 125deg, #99999900 125deg, #99999900 175deg, #ff4136 175deg, #ff4136 240deg, #99999900 240deg, #99999900 295deg, #ff4136 295deg);
    z-index: 99;
    border-radius: 50%;
    border: 5px;
    border-right: none;
    outline-offset: -5px;
    outline: .1px dashed #fff5f5;
}


.titlee {
    color: #9e1400;
    text-shadow: 1px 1px 3px #000000;
    font-size: 19px;
    background: #ffffff;
    width: 170px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3px 0px;
    border-start-start-radius: 0rem;
    border-end-start-radius: 1rem;
    box-shadow: inset 2.5px -1px 3px #272727cc;
}



.imgg {
    background: #f3f3f3;
    z-index: 888;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: row;
    border-radius: 50%;
}

#playIMG{
    z-index: -1;
    transform: translateY(-25%);
    width: 52vw;
    aspect-ratio: 1;
    max-width: 210px;
    position: absolute;
    filter: brightness(0) drop-shadow(0px 3px 1px #ff4136);
}



.before {
   transition: all 2s;
    max-width: 505px;
    height: 44px;
    z-index: 11;
    box-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px #040000, -2px 1px 8px black;
    border-end-start-radius: 2rem;
    border-start-start-radius: 2rem;
    border-end-end-radius: 2rem;
    border-start-end-radius: .7rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    display: flex;
    position: absolute;
    bottom: -44px;
    width: 90vw;
    background: #edebeb;
    right: 1.5vw;
}


.panelC{
    justify-content: center;
    display: none;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(black, #ffffff4a);
    position: absolute;
    z-index: 25;
}



















/* screen 3 */
#screen2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 94vh;
}

#screen2>nav{
    height: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
    background: conic-gradient(from -30deg, #00000000 -30deg, #00000000 60deg, black 60deg, black 180deg, #00000000 180deg, transparent 240deg, black 240deg);
    filter: drop-shadow(0px -2px 1px black) drop-shadow(0px 5px 7px black);
    width: 100%;

}

#screen2>nav>div{
    height: 85%;
    width: 100%;
    background: #b6b6b6;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: start;
    
}

.itemFlex {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 10px 0px;
    justify-content: space-evenly;
    height: 13%; 
    border: 1px dashed gray;
    background: linear-gradient(90deg, black, transparent);
}

aside{
    display: flex;
    height: 45vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    filter: drop-shadow(0px 4px 6px black);
}


.freinds{
       width: 40px;
    min-width: 35px;
    aspect-ratio: 1;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px black;
    margin-bottom: 5%;
    position: relative;
    margin-right: 10%;
}

.addF{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 1rem;
    background: gray;
    height: 5vh;
    margin-top: 3vh;
    outline: 2px solid #807d7d;
    outline-offset: 3px;
}


ul{
    padding: 0;
    list-style: none;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, black, #3d3d3d);
    width: 99%;
    height: 10vh;
    border-radius: 2rem;
    color: #ff4136;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 6px 15px #000000d4;
}

.textDot{
    color: #cecece;
    text-shadow: 0px 0px 3px wheat;
}
#textDot{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: -10vh;
    position: relative;
}

#textDot0{
    position: absolute;
    display: none;
    width: 50vw;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
    bottom: 13vh;
}

.textDot>span::after{
    content: ' .';
    width: 10%;
    padding-left: 5px;
    letter-spacing: 2px;
    font-size: 21px;
    animation: dots 1.5s steps(4,end) infinite;
}

@keyframes dots{
    0% ,20%{ content: '.';}
    40%{ content: '..';}
    60%{content: '...';}
    80% , 100%{ content: '';}
}


/* ///////////////for download info\\\\\\\\\\\\\\\\\\\\\\\ */

.turnONN{
  text-shadow: 0px 2px 4px #735959, 0px 2px 4px #000000;
    font-size: min(10.5vw, 20px);
    padding: 5px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #0c0c0c;
    background: #ff4136;
    border-radius: 2rem;
    margin: 3vw;
    outline: 2px solid #fff;
outline-offset: 2px;
}

.notiX{
    margin-top: 3vh;
    font-size: min(5.5vw, 16px);
    color: #010101;
    background: gray;
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    outline: 2px solid #fff;
outline-offset: 2px;
}

.instruction{
    z-index: 990;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(38 38 38 / 70%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.downloadH{
    top: -5vh;
    width: 85vw;
    height: 85vh;
    position: relative;
    transition: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 2rem;
    background: linear-gradient(75deg, black, rgb(96, 96, 96));
    box-shadow: rgba(0, 0, 0, 0.76) -3.5vw 2.5vh 18px;

}

.plase{
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 3vh 0px;
    color: #ededed;
    text-shadow: 0px 7px 4px #000000;
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
}


.okyBtn{
    height: 7%;
    min-height: 7vh;
    background: linear-gradient(0deg, #080808, #ffffff);
    width: 70%;
    margin-top: 5vh;
    color: #000000;
    font-size: 15px;
    text-shadow: 0px 0px 3px #202020;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}

.test5{
  letter-spacing: 5vw;
    direction: rtl;
    text-shadow: 0px 15px 7px #565656, 0px -5px 10px #000000;
    font-size: 29px;
    font-weight: 900;
    background: linear-gradient(90deg, hsl(16.62deg 100% 50%) 10%, #ffffff 25%, hsl(0deg 0% 100%) 31%, hsl(9.97deg 90.47% 68.62%) 51%, hsl(0deg 0% 100%) 71%, hsl(21.05deg 71.85% 30.52%) 86%, hsl(0deg 0% 94.02%) 100%);
    background-clip: text;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff010100;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.5s all;
}

#deckPrice{
   background: linear-gradient(180deg, #000000, #101010);
    bottom: -13px;
    padding: 5px 0px;
    position: relative;
    width: 30vw;
    border-end-end-radius: 1rem;
    border-start-end-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 20px #000000;
        outline: 1px solid #ff4136;
    outline-offset: 4px;
}